body{
	margin: 0;
	padding: 0;
}

#outsideBorder{
width: 1932px;
height: 1951px;
background: url(outside_border.jpg);
margin: 0 auto;
}

#invitationContent{
width: 1660px;
height: 1675px;
background: url(diagnol_lines.jpg);
margin: 0 auto
}